<div class="thumbnail">
<a href="">
<img src="<%="#{MEIDIA_SERVER}/#{BUCKET_NAME}/#{USER_FOLDER}usr-#{user_id}.jpg"%>" class="img-responsive" onerror="this.src='<%="#{SITE_ROOT}/assets/icons/dude.svg"%>'" />
</a>
</div>