<div class="container">
<div class="row">
<div class="col-lg-1"></div>
<div class="col-lg-6">
<img src="/assets/51b039368c6bf.jpg" class="img-responsive">
</div>
<div class="col-lg-1"></div>
<div class="col-lg-4" style="padding:40px;">
	<div class="page-header"><h3>登录</h3></div>
<%=render :partial=>"loginform", :locals=>{:alt=>"d"} %>
</div>
</div>
</div>