// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topbar{position: absolute;left: 0px;top:0px;width:100%;background:#f7f7f7;border-bottom:1px solid #ddd;padding:8px;}
.maincontent{min-height:500px;}
.form-control{
	.input-icon{
		  position: absolute;
		  top: 2px;
		  right: 2px;
		  line-height: 37px;
		  vertical-align: middle;
		  font-size: 20px;
		  color: #b2bcc5;
		  background-color: #ffffff;
		  padding: 0 12px 0 0;
		  border-radius: 6px;
	}
}