// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topbar{position: absolute;left: 0px;top:0px;width:100%;background:#f7f7f7;border-bottom:1px solid #ddd;padding:8px;}
.maincontent{
	min-height:500px;
	margin-bottom:30px;
	background:#fff;
	border-radius:5px!important;
    -moz-border-radius:5px!important;
    -webkit-border-radius:5px!important;
    -op-border-radius:5px!important;
}
.navbar-brand{ 
}
a.btn-success, a.btn-info, a.btn-danger, a.btn-warning, a.btn-inverse,a.btn-success:active, a.btn-info:active, a.btn-danger:active, a.btn-warning:active, a.btn-inverse:active{
	color:#fff!important;
}
a.link{
	text-decoration: underline!important;
	color:blue!important;
}
.form-control{
	.input-icon{
		  position: absolute;
		  top: 2px;
		  right: 2px;
		  line-height: 37px;
		  vertical-align: middle;
		  font-size: 20px;
		  color: #b2bcc5;
		  background-color: #ffffff;
		  padding: 0 12px 0 0;
		  border-radius: 6px;
	}
}
.footer{
	width:100%;
	border-top:1px solid #000;
	margin-top:20px;
	padding-top:10px;
	background:#333;
	color:#fff;
	a{
		color:#999!important;
	}
}
.footerlist{
	padding:0px;
	li{
		list-style:none;
	}
}
.stats{
    padding-top:10px;
    padding-bottom: 10px;
    color:#333;
    border: 1px solid #eee;
    margin-left:-1px;
    h6{font-weight:bold;}
}
p.large{font-size:18px;color:#999;}
.question-header{width:100%;padding:20px 0px 10px 0px;}