<!DOCTYPE html>
<html>
<head>
  <title><%=t :brand %></title>
  <link href="http://cdn.bootcss.com/bootstrap/3.1.1/css/bootstrap.css" rel="stylesheet">
  <style type="text/css">
  a{color: blue!important;}
  </style>
</head>
<body>
<div class="container" style="padding:20px;">
	<%= yield %>
</div>
</body>
</html>
